### Extract EDD Employment Dataset

In [2]:
# Install Sodapy to read Socrata 
# pip install sodapy

In [3]:
# Import important libraries
import pandas as pd
from sodapy import Socrata
import requests

In [4]:
# Unauthenticated client only works with public data sets. Note 'None'
client = Socrata("data.edd.ca.gov", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [5]:
# client = Socrata(data.edd.ca.gov,
#                  MyAppToken,
#                  userame=,
#                  password=)

In [6]:
# Read 
results = client.get("e6gw-gvii", limit=26000)

In [7]:
edd_results_df = pd.DataFrame.from_records(results)
edd_results_df

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
25995,Sub-County Place,Olancha CDP,2019-04-01T00:00:00.000,2019,April,N,Final,170,170,0,0
25996,Sub-County Place,Olivehurst CDP,2019-04-01T00:00:00.000,2019,April,N,Final,5400,5000,400,0.068
25997,Sub-County Place,Ontario city,2019-04-01T00:00:00.000,2019,April,N,Final,89200,86500,2800,0.031
25998,Sub-County Place,Onyx CDP,2019-04-01T00:00:00.000,2019,April,N,Final,200,200,0,0
25999,Sub-County Place,Orange city,2019-04-01T00:00:00.000,2019,April,N,Final,71400,69700,1800,0.025

In [10]:
edd_results_df.to_csv("../cleaned_data/unemployment_dataset.csv")

### Cleaning EDD Employment Dataset

In [11]:
pwd

'/Users/ellismok/Desktop/Challenges/PsciCat-Learners---Final-Project/cleaning_data_wrbk'

In [15]:
edd_results_df

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
25995,Sub-County Place,Olancha CDP,2019-04-01T00:00:00.000,2019,April,N,Final,170,170,0,0
25996,Sub-County Place,Olivehurst CDP,2019-04-01T00:00:00.000,2019,April,N,Final,5400,5000,400,0.068
25997,Sub-County Place,Ontario city,2019-04-01T00:00:00.000,2019,April,N,Final,89200,86500,2800,0.031
25998,Sub-County Place,Onyx CDP,2019-04-01T00:00:00.000,2019,April,N,Final,200,200,0,0
25999,Sub-County Place,Orange city,2019-04-01T00:00:00.000,2019,April,N,Final,71400,69700,1800,0.025

In [17]:
# Find the types of rows for area_type, aree
edd_results_df["area_type"].unique()

array(['County', 'Metro Division', 'Metropolitan Area', 'MSA', 'State',
       'Sub-County Place'], dtype=object)

In [18]:
# Grab only County from area_type
county_df = edd_results_df.loc[edd_results_df["area_type"]=="County"]
county_df

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras County,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
25326,County,Tulare County,2019-04-01T00:00:00.000,2019,April,N,Final,203300,183100,20200,0.099
25327,County,Tuolumne County,2019-04-01T00:00:00.000,2019,April,N,Final,20840,19880,960,0.046
25328,County,Ventura County,2019-04-01T00:00:00.000,2019,April,N,Final,421100,407800,13300,0.032
25329,County,Yolo County,2019-04-01T00:00:00.000,2019,April,N,Final,107000,102800,4200,0.039
25330,County,Yuba County,2019-04-01T00:00:00.000,2019,April,N,Final,29300,27500,1800,0.062

In [19]:
# Remove the county from each name
county_df["area_name"] = county_df["area_name"].str.replace(" County", "")
county_df

<ipython-input-19-0a1a434fcd25>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_df["area_name"] = county_df["area_name"].str.replace(" County", "")

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
25326,County,Tulare,2019-04-01T00:00:00.000,2019,April,N,Final,203300,183100,20200,0.099
25327,County,Tuolumne,2019-04-01T00:00:00.000,2019,April,N,Final,20840,19880,960,0.046
25328,County,Ventura,2019-04-01T00:00:00.000,2019,April,N,Final,421100,407800,13300,0.032
25329,County,Yolo,2019-04-01T00:00:00.000,2019,April,N,Final,107000,102800,4200,0.039
25330,County,Yuba,2019-04-01T00:00:00.000,2019,April,N,Final,29300,27500,1800,0.062

In [20]:
# Filtered LA county and seasonally_adjusted_y because of duplication 
filtered_county = county_df.loc[county_df["seasonally_adjusted_y_n"] == "N"]
filtered_county

,area_type,area_name,date,year,month,seasonally_adjusted_y_n,status_preliminary_final,labor_force,employment,unemployment,unemployment_rate
0,County,Alameda,2021-04-01T00:00:00.000,2021,April,N,Preliminary,795300,745000,50200,0.063
1,County,Alpine,2021-04-01T00:00:00.000,2021,April,N,Preliminary,540,500,40,0.08
2,County,Amador,2021-04-01T00:00:00.000,2021,April,N,Preliminary,14270,13270,990,0.07
3,County,Butte,2021-04-01T00:00:00.000,2021,April,N,Preliminary,91500,85000,6500,0.071
4,County,Calaveras,2021-04-01T00:00:00.000,2021,April,N,Preliminary,21100,19850,1250,0.059
...,...,...,...,...,...,...,...,...,...,...,...
25326,County,Tulare,2019-04-01T00:00:00.000,2019,April,N,Final,203300,183100,20200,0.099
25327,County,Tuolumne,2019-04-01T00:00:00.000,2019,April,N,Final,20840,19880,960,0.046
25328,County,Ventura,2019-04-01T00:00:00.000,2019,April,N,Final,421100,407800,13300,0.032
25329,County,Yolo,2019-04-01T00:00:00.000,2019,April,N,Final,107000,102800,4200,0.039
25330,County,Yuba,2019-04-01T00:00:00.000,2019,April,N,Final,29300,27500,1800,0.062

In [22]:
# Drop unneccessary columns: "Unnamed: 0", "area_type", "status_preliminary_final", "dates"
drop_filtered_county = filtered_county.drop(columns= ["year","month", "area_type", "seasonally_adjusted_y_n","status_preliminary_final"], axis = 1)
drop_filtered_county

,area_name,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-04-01T00:00:00.000,795300,745000,50200,0.063
1,Alpine,2021-04-01T00:00:00.000,540,500,40,0.08
2,Amador,2021-04-01T00:00:00.000,14270,13270,990,0.07
3,Butte,2021-04-01T00:00:00.000,91500,85000,6500,0.071
4,Calaveras,2021-04-01T00:00:00.000,21100,19850,1250,0.059
...,...,...,...,...,...,...
25326,Tulare,2019-04-01T00:00:00.000,203300,183100,20200,0.099
25327,Tuolumne,2019-04-01T00:00:00.000,20840,19880,960,0.046
25328,Ventura,2019-04-01T00:00:00.000,421100,407800,13300,0.032
25329,Yolo,2019-04-01T00:00:00.000,107000,102800,4200,0.039
25330,Yuba,2019-04-01T00:00:00.000,29300,27500,1800,0.062

In [23]:
# format date column to mm-dd-yyyy
drop_filtered_county["date"] = drop_filtered_county["date"].apply(pd.to_datetime)
drop_filtered_county.head(100)

,area_name,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-04-01,795300,745000,50200,0.063
1,Alpine,2021-04-01,540,500,40,0.08
2,Amador,2021-04-01,14270,13270,990,0.07
3,Butte,2021-04-01,91500,85000,6500,0.071
4,Calaveras,2021-04-01,21100,19850,1250,0.059
...,...,...,...,...,...,...
1091,San Francisco,2021-03-01,542400,513300,29200,0.054
1092,San Joaquin,2021-03-01,333400,303000,30400,0.091
1093,San Luis Obispo,2021-03-01,129800,122300,7500,0.058
1094,San Mateo,2021-03-01,426100,405100,21000,0.049
1095,Santa Barbara,2021-03-01,214400,200300,14100,0.066

In [24]:
drop_filtered_county.rename(columns = {"area_name": "county"},  
          inplace = True) 
drop_filtered_county

,county,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-04-01,795300,745000,50200,0.063
1,Alpine,2021-04-01,540,500,40,0.08
2,Amador,2021-04-01,14270,13270,990,0.07
3,Butte,2021-04-01,91500,85000,6500,0.071
4,Calaveras,2021-04-01,21100,19850,1250,0.059
...,...,...,...,...,...,...
25326,Tulare,2019-04-01,203300,183100,20200,0.099
25327,Tuolumne,2019-04-01,20840,19880,960,0.046
25328,Ventura,2019-04-01,421100,407800,13300,0.032
25329,Yolo,2019-04-01,107000,102800,4200,0.039
25330,Yuba,2019-04-01,29300,27500,1800,0.062

In [25]:
# Create a new variable for last cleaned dataset
cleaned_edd_df = drop_filtered_county
cleaned_edd_df

,county,date,labor_force,employment,unemployment,unemployment_rate
0,Alameda,2021-04-01,795300,745000,50200,0.063
1,Alpine,2021-04-01,540,500,40,0.08
2,Amador,2021-04-01,14270,13270,990,0.07
3,Butte,2021-04-01,91500,85000,6500,0.071
4,Calaveras,2021-04-01,21100,19850,1250,0.059
...,...,...,...,...,...,...
25326,Tulare,2019-04-01,203300,183100,20200,0.099
25327,Tuolumne,2019-04-01,20840,19880,960,0.046
25328,Ventura,2019-04-01,421100,407800,13300,0.032
25329,Yolo,2019-04-01,107000,102800,4200,0.039
25330,Yuba,2019-04-01,29300,27500,1800,0.062

In [ ]:
# Format date to ...

In [26]:
# Create a new csv 
cleaned_edd_df.to_csv("../cleaned_data/final_unemployment_dataset.csv")